h1{
    text-align: left;
    font-size: big;
    color:black;
}

body{
    background-color: aquamarine;
    font-family: handwriting;
    color:rgb(54, 5, 94);
}
p{
    color:black;
    font-size: large;
}
p {
    font-size: large;
    text-align: left;
    color:black;
}